<div class="example-button-row">
    
    </div>
    <h1>My Saved Posts</h1> 

    <p *ngIf="!(classifeds$ | async)">loading list...</p>
    <mat-accordion >
      <!-- <div *ngFor = "let user of users$ | async" >
        {{user.id}} -->
        <mat-expansion-panel *ngFor = "let classifed of classifeds$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
             {{classifed.num}}
             <b>{{classifed.title}}</b>
             
            </mat-panel-title>
            </mat-expansion-panel-header> 
            {{classifed.body}}
    
            <br><br>
            {{classifed.likes}} Likes
            <br>
            <button mat-raised-button color="primary" (click)= delete(classifed.id)>
            Delete
            </button>        
    
            <button mat-button (click) = "addLikes()">Like</button> <span><b> {{likes}} Likes</b></span>
        </mat-expansion-panel>
      <!-- </div> -->
      </mat-accordion>
    
    
  