<mat-card class="example-card">
    <form #classForm="ngForm" (ngSubmit)="onSubmit()">  
  <mat-card-header>
        <div mat-card-avatar *ngIf = "categoryImage"> 
            <img [src] = "categoryImage"> 
         </div>
         <mat-card-title>
         <mat-select placeholder="Category" [(ngModel)] = "category" name = "cat" >
            <mat-option *ngFor = "let category of categories" [value]="category.name" name = "cat">{{category.name}}</mat-option>
          </mat-select>
          </mat-card-title>
          <mat-card-subtitle>classification result</mat-card-subtitle>
        </mat-card-header>
      <p>Edit the classification if you are not satisfied</p>
      <p >
        {{classifyService.doc}}
      </p>
      
    
    <div >
      <button mat-raised-button color="primary">Save</button>
    </div>
  </form>
  </mat-card>
