<div class="example-button-row">
  </div>

  <p *ngIf="!(classifeds$ | async)">loading list...</p>
  <mat-accordion >
    <!-- <div *ngFor = "let user of users$ | async" >
      {{user.id}} -->
      <mat-expansion-panel *ngFor = "let classifed of classifeds$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{classifed.cat}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        {{classifed.text}}         
      </mat-expansion-panel>
    <!-- </div> -->
    </mat-accordion>
  
  
