<div ng-controller="myCtrl">
        <!-- <div *ngIf = "!(posts$ | async)">Loading...</div> -->
        <!-- <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button> -->
        <p>{{ans}}</p>
      </div>
      <h1>Posts List</h1> 

      <mat-accordion>
          <!-- <mat-expansion-panel *ngFor = "let post of posts$ | async"> -->
        <mat-expansion-panel *ngFor = "let post of posts$">
          <mat-expansion-panel-header>
            <mat-panel-title>
            <b>  {{post.id}}
              {{post.title}}

              
          </b>
            </mat-panel-title>
          </mat-expansion-panel-header> 
           {{post.body}} 
           <button mat-raised-button color="primary"(click)= MyFunc(post.id)> Save Post </button>
             {{ans}}
           <br>

<!-- 
            <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
        <p>{{ans}}</p> -->

      <!-- </div> -->
           <!-- Author:{{post.author}} -->

           <!-- <button 
      mat-raised-button color="primary"
      (click)= deletePost(post.id)>
      Delete
   </button> -->
   <h3>Comments:</h3>
          <div *ngFor="let comment of comments$">
            <div *ngIf = "post.id == comment.postId;other"> 
              
              <b>{{comment.name}}</b>
              <br>
              {{comment.body}}
              <br><br>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    
